@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.header_container {
  display: flex;
  width: 200px;
  border: 5px solid #282a36;
  border-radius: 80%;
}

.header_container:hover {
  cursor: pointer;
  border: 5px solid rgb(7, 211, 7);
}

.myText {
  display: flex;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}